@import 'tailwindcss';

@theme {
  /* --color-primary: #ffc107;
  --color-secondary: #ffa000;
  --color-text-primary: #000000;
  --color-text-secondary: #000000;
  --color-success: #28a745; */

  --color-scrollbar-thumb: #999999;
  --color-scrollbar-track: rgba(0, 0, 0, 0.1);
  --color-scrollbar-thumb-hover: #666666;
  --scrollbar-color: #ffc107;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

/* font-family */
@utility font-family-mon {
  font-family: 'Montserrat', sans-serif;
}

@utility font-family-rob {
  font-family: 'Roboto', sans-serif;
}

@utility font-family-int {
  font-family: 'Inter', sans-serif;
}

@utility font-family-orb {
  font-family: 'Orbitron', sans-serif;
}

@utility font-family-din {
  font-family: 'DIN', sans-serif;
}

@utility flex-row-center {
  @apply flex flex-row items-center justify-center;
}

@utility flex-col-center {
  @apply flex flex-col items-center justify-center;
}

@utility scrollbar {
  overflow: auto;

  /* 整个滚动条 */
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-scrollbar-track);
  }

  /* 滚动条有滑块的轨道部分 */
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 1px;
  }

  /* 滚动条滑块(竖向:vertical 横向:horizontal) */
  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: var(--color-scrollbar-thumb);
    border-radius: 5px;
  }

  /* 滚动条滑块hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar-thumb-hover);
  }

  /* 同时有垂直和水平滚动条时交汇的部分 */
  &::-webkit-scrollbar-corner {
    display: block;
    /* 修复交汇时出现的白块 */
  }
}

ul,
menu {
  list-style: disc;
}

ol {
  list-style: decimal;
}